body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.map-container table, th, td {
   /* border: 1px solid black;*/
}

.map-cell {
    min-width: 5px;
    min-height: 5px;
}

/*.shown-cell-item {
}*/

.hidden-cell-item {
    display: none;
}

.layer-button {
    background-color: aqua;
}

/*font-size: 0.5em;
    width: 5px;
    height: 5px;
color: aqua;
padding: 1px;*/

.map-cell-item {
    font-size: 0.5em;
    color: aqua;
    padding: 1px;
    min-width: 5px;
    min-height: 5px;
}